{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <h1>Login</h1>
    <form method="post" style='margin-bottom:-40px'>
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit" style='display:flex;flex-direction:column'>Login</button>
    </form><a href='../signup' style='font-size:10px;margin-left:200px;m'>Sign Up</a>
   
</body>
</html>
